# This configuration file defines settings for the MySQL server.

# Section for client-specific configurations
[mysql]
default-character-set=utf8

# Section for MySQL server-specific configurations
[mysqld]
# Data directory for MySQL
datadir=/var/lib/mysql

# Socket file for MySQL
socket=/var/run/mysqld/mysqld.sock

# Allow connections from any IP address
bind_address=*

# MySQL port number
port=3306

# MySQL user
user=mysql
